:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --succes: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --modal-overlay: #f4f4fd;
  --hero-background: #2e2f42;
  --white-background: #2e2f42;
  --mmodal-background: #ffffff;
  --fs-small: 18px;
  --fs-body: 16px;
  --fs-title: 56px;
  --fs-h2: 36px;
  --fs-medoi: 20px;
  --fs-extra-small: 12px;
  --fw-blackt: 800;
  --fw-boldt: 700;
  --fw-normalt: 400;
  --fw-mediumt: 500;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  background: #ffffff;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.link {
  text-decoration: none;
}
.second-word {
  color: #2e2f42;
}
.list-link {
  color: #2e2f42;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}

.list-link:hover {
  color: #404bbf;
}

.list-link:focus {
  color: #404bbf;
}
.contact {
  font-style: normal;
}

.contact-link {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}
.contact-link:hover {
  color: #404bbf;
}
.contact-link:focus {
  color: #404bbf;
}
.primary-section {
  background-color: #2e2f42;
  text-align: center;
  height: 600px;
  padding: 188px 0;
}
.primary-title {
  letter-spacing: 0.02em;
  font-size: 56px;
  line-height: 1.07em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  background: var(--primary-brand, #4d5ae5);
  min-width: 169px;
  height: 56px;
  display: block;
  margin: auto;
  border: none;
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}

.list {
  list-style: none;
}

.section-title {
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11em;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-section {
  background-color: #f4f4fd;
}
.team-member {
  background-color: #ffffff;
}
.sub-title {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.sub-text {
  font-size: 16px;
  line-height: 1.5em;
  color: #434455;
  letter-spacing: 0.02em;
}
.footer-content {
  background-color: #2e2f42;
}

.footer-text {
  line-height: 1.5em;
  color: #f4f4fd;
  max-width: 264px;
}
.footer-content .span {
  color: #f4f4fd;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.button:hover {
  border: 1px solid transparent;
  background-color: #404bbf;
  color: #ffffff;
}

.button:focus {
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #404bbf;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.nav-bar {
  display: flex;
}

.nav-bar-container {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.list-link {
  padding: 24px 0;
  display: inline-block;
}

.contact .nav-links {
  margin-left: 245px;
}

.second-section {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.inline-icons {
  display: flex;
  gap: 24px;
}
.icons-container {
  width: 264px;
  background-color: var(--modal-overlay, #f4f4fd);
}

.icons {
  display: flex;
  justify-content: center;
}
.first-list {
  display: flex;
  gap: 24px;
  width: 100%;
}
.section-container {
  width: 100%;
  min-width: 264px;
}

.images-section {
  padding-bottom: 120px;
}

.images-list {
  display: flex;
  gap: 24px;
}

.section-image {
  width: 100%;
  width: calc((100%-48px) / 3);
}

.team-section {
  padding: 120px 0;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-member {
  width: 100%;
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-member-info {
  padding: 32px 0;
}

.team-member-name {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
  margin-bottom: 8px;
}

.team-member-function {
  font-size: 16px;
  line-height: 1.5em;
  color: #434455;
  letter-spacing: 0.02em;
  text-align: center;
}

.footer-content {
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.portfolio-section {
  padding: 96px 0 120px 0;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-content {
  width: calc(100%-48px) / 3;
}

.portfolio-title-container {
  padding: 32px 16px;
  border: 1px solid var(--accent);
  border-top: none;
}
